.footer-container{
    display: flex;
    height: 25vh;
    background-color: beige;
}

.primary-menu{
    width: 33%;
    border-right: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-menu{
    width: 33%;
    border-right: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

