header{
    width: 100%;
    display: flex;
}

.site-icon{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    align-items: center;
}

.site-navigation{
    width: 40%;
    display: flex;
    justify-content:flex-end;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-link{
    margin-right: 30px;
}

